header .header-wraper  {
display: flex;
justify-content: space-between;
height: 50px;
padding: 10px 15px 0 15px;

}
header .header-wraper .content-header-1{
font-size: 15px;
font-style: italic;
color: orange;
font-weight: 700;

}
header .header-wraper .content-header-2 span{
	
	font-weight: 600;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	transition: all 0.5s;
	border-radius: 4px;


}
header .header-wraper .content-header-2{
	display: flex;
	justify-content: space-between;

}
header .header-wraper .content-header-2 span:hover{
	color: white;
	background-color: orange;
}